Repository dsrice/bs_api, changes with the labels that .github/labeler.yml gives for each.
All labels: api, er, redoc

update: openapiのフォルダ構成見直し
  .gitignore
  openapi/dist/swagger.yaml
  openapi/src/components/component.yaml
  openapi/src/components/index.yaml
  openapi/src/components/parameters/parameter.yaml
  openapi/src/components/requestBodies/login_post.yaml
  openapi/src/components/requestBodies/requestBody.yaml
  openapi/src/components/responses/404.yaml
  openapi/src/components/responses/500.yaml
  openapi/src/components/responses/response.yaml
  openapi/src/components/schemas/auth.yaml
  openapi/src/components/schemas/internalError.yaml
  openapi/src/components/schemas/notFoundError.yaml
  openapi/src/components/schemas/schema.yaml
  openapi/src/index.yaml
  openapi/src/paths/index.yaml
  openapi/src/paths/login/index.yaml
  openapi/src/paths/login/login.yaml
  openapi/src/paths/login/post/index.yaml
  openapi/src/paths/login/post/login_post.yaml
  openapi/src/paths/login/post/login_post_200.yaml
  openapi/src/paths/path.yaml
Labels: redoc

add: echoをgo get
  app/go.mod
  app/go.sum
Labels: none

add: Echo導入確認のためサービス起動確認
  app/server.go
  docker-compose.yml
Labels: none

add: golang-migrateを導入
  .gitignore
  Dockerfile
  app/db/migrations/000001_create_users.down.sql
  app/db/migrations/000001_create_users.up.sql
  app/go.mod
  app/go.sum
  app/infra/server/server.go
  app/server.go
  app/sqlboiler.toml
  docker-compose.yml
Labels: none

add: sqlboilerによるモデル作成
  app/go.mod
  app/go.sum
  app/infra/database/migrations/000001_create_users.down.sql
  app/infra/database/migrations/000001_create_users.up.sql
  app/infra/database/models/boil_main_test.go
  app/infra/database/models/boil_queries.go
  app/infra/database/models/boil_queries_test.go
  app/infra/database/models/boil_suites_test.go
  app/infra/database/models/boil_table_names.go
  app/infra/database/models/boil_types.go
  app/infra/database/models/mysql_main_test.go
  app/infra/database/models/mysql_suites_test.go
  app/infra/database/models/mysql_upsert.go
  app/infra/database/models/schema_migrations.go
  app/infra/database/models/schema_migrations_test.go
  app/infra/database/models/users.go
  app/infra/database/models/users_test.go
Labels: none

add: DB接続周りを整備
  app/const/env.go
  app/infra/database/connection/conn.go
Labels: none

add: ログ出力にslogを採用
  app/infra/database/connection/conn.go
  app/infra/logger/logger.go
Labels: none

add: テストコードにtestifyを採用
  app/go.mod
  app/go.sum
  app/infra/database/connection/conn_test.go
Labels: none

add: リリースノートのGithub Actionを追加
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: none

add: DIモジュールとしてsamber/doを採用
  app/go.mod
  app/go.sum
Labels: none

update: DB認証周りを見直し
  app/infra/database/connection/conn.go
  app/infra/database/connection/conn_test.go
Labels: none

update: DIモジュールをdigに変更し構成見直し
  app/controllers/ci/LoginController.go
  app/controllers/loginController.go
  app/go.mod
  app/go.sum
  app/infra/database/connection/conn.go
  app/infra/di/controller.go
  app/infra/di/di.go
  app/infra/di/repository.go
  app/infra/server/server.go
  app/repositories/ri/UserRepository.go
  app/repositories/userRepository.go
  app/server.go
Labels: none

add: tokensのマイグレーションファイル作成
  app/infra/database/migrations/000002_create_tokens_table.down.sql
  app/infra/database/migrations/000002_create_tokens_table.up.sql
  app/migration.sh
Labels: none

add: sqlboilerのtokensを追加
  app/infra/database/models/boil_suites_test.go
  app/infra/database/models/boil_table_names.go
  app/infra/database/models/mysql_suites_test.go
  app/infra/database/models/tokens.go
  app/infra/database/models/tokens_test.go
  app/infra/database/models/users.go
  app/infra/database/models/users_test.go
  app/sqlboiler.sh
Labels: none

add: generatorのrepository対応
  app/generator.go
  app/go.mod
  app/go.sum
  app/infra/genarator/generator.go
  app/repositories/rg/repoGenerator.go
Labels: none

add: usecaseとinterffaceのgeneratorを対応
  app/controllers/cg/controllerGenerator.go
  app/generator.go
  app/repositories/rg/repoGenerator.go
  app/usecases/ug/usecaseGenerator.go
Labels: none

update: ER図を更新
  er/er.drawio
Labels: er

update: DI関連のフォルダを変更
  app/di/controller.go
  app/di/di.go
  app/di/repository.go
  app/server.go
Labels: none

add: UserEntityを用意
  app/entities/user.go
  app/generator/generator.go
  app/infra/database/models/boil_main_test.go
  app/infra/database/models/boil_queries_test.go
  app/infra/database/models/boil_suites_test.go
  app/infra/database/models/mysql_main_test.go
  app/infra/database/models/mysql_suites_test.go
  app/infra/database/models/schema_migrations_test.go
  app/infra/database/models/tokens_test.go
  app/infra/database/models/users_test.go
Labels: none

add: UserRepositoryを追加
  app/infra/database/connection/conn.go
  app/repositories/ri/UserRepository.go
  app/repositories/userRepository.go
  app/repositories/userRepository_test.go
Labels: none

add: テスト結果のファイルはGit管理不要なのでアップロードしない
  .gitignore
  app/test.sh
Labels: none

update: digの取りまわしを変更
  app/controllers/cg/controllerGenerator.go
  app/controllers/ci/LoginController.go
  app/controllers/loginController.go
  app/controllers/requestparameter/login.go
  app/di/di.go
  app/di/usecase.go
  app/infra/response/response.go
  app/infra/server/routing.go
  app/infra/server/server.go
  app/repositories/rg/repoGenerator.go
  app/repositories/ri/inrepository.go
  app/usecases/loginUsecase.go
  app/usecases/ug/usecaseGenerator.go
  app/usecases/ui/inusecase.go
  app/usecases/ui/loginUsecase.go
Labels: none

update: generatorの作成内容を見直し
  app/usecases/ug/usecaseGenerator.go
Labels: none

add: エラーレスポンスのメッセージ管理を作成
  app/infra/error/error.go
  app/infra/error/error.xml
  app/infra/error/error_test.go
Labels: none

update: slogの使い方を見直し
  app/infra/errormessage/error.go
  app/infra/errormessage/error.xml
  app/infra/errormessage/error_test.go
  app/infra/logger/logger.go
Labels: none

update: usecase Generatorの見直し
  app/usecases/ug/usecaseGenerator.go
Labels: none

update: ログインAPIを正規の状態に修正
  app/controllers/loginController.go
  app/controllers/requestparameter/login.go
  app/infra/response/response.go
  app/infra/server/routing.go
Labels: none

fix: エラーメッセージ管理をxmlに変更
  app/infra/errormessage/error.go
  app/infra/errormessage/error_test.go
Labels: none

add: 認証のバリデーションを追加
  app/controllers/loginController.go
  app/usecases/loginUsecase.go
  app/usecases/ui/loginUsecase.go
Labels: none

change: requestparameterが長いのでrqpに変更
  app/controllers/loginController.go
  app/controllers/rqp/login.go
  app/usecases/loginUsecase.go
  app/usecases/ui/loginUsecase.go
Labels: none

update: 自動生成コマンドの見直し
  app/controllers/cg/controllerGenerator.go
  app/generator/generator.go
Labels: none

update: 自動生成の変更内容適応
  app/repositories/rg/repoGenerator.go
  app/usecases/ug/usecaseGenerator.go
Labels: none

update: レイヤー追加時に管理構造体にも追加するように修正
  app/controllers/cg/controllerGenerator.go
  app/controllers/ci/inController.go
  app/infra/server/server.go
  app/repositories/rg/repoGenerator.go
  app/repositories/ri/TokenRepository.go
  app/repositories/ri/inRepository.go
  app/repositories/tokenRepositoryImp.go
  app/repositories/userRepositoryImp.go
  app/repositories/userRepositoryImp_test.go
  app/usecases/ug/usecaseGenerator.go
  app/usecases/ui/inUsecase.go
Labels: none

add: TokenEntity作成
  app/entities/token.go
Labels: none

add: TokenRepositoryを実装
  app/repositories/rg/repoGenerator.go
  app/repositories/ri/TokenRepository.go
  app/repositories/ri/inRepository.go
  app/repositories/tokenRepositoryImp.go
  app/repositories/tokenRepositoryImp_test.go
Labels: none

add: Login APIを実装
  app/controllers/loginController.go
  app/controllers/rsp/login.go
  app/di/repository.go
  app/infra/response/response.go
  app/usecases/loginUsecase.go
  app/usecases/ui/loginUsecase.go
Labels: none

add: Mockを追加してテストコードを実装
  app/repositories/rmock/tokenRepositoryMock.go
  app/repositories/rmock/userRepositoryMock.go
  app/usecases/loginUsecaseImp.go
  app/usecases/loginUsecaseImp_test.go
Labels: none

add: UsecaseにMockを用意
  app/generator/generator.go
  app/infra/genarator/generator.go
  app/repositories/rg/repoGenerator.go
  app/repositories/rmock/tokenRepositoryMock.go
  app/usecases/loginUsecaseImp_test.go
  app/usecases/umock/loginUsecaseMock.go
Labels: none

update: 自動生成関連のMockファイル作成対応
  app/controllers/cg/controllerGenerator.go
  app/controllers/loginController_test.go
  app/repositories/rg/repoGenerator.go
  app/usecases/ug/usecaseGenerator.go
Labels: none

add: loginControllerのテストコードを追加
  app/controllers/loginController.go
  app/controllers/loginController_test.go
  app/go.mod
  app/go.sum
Labels: none

.github/labeler.yml:

api:
- api/**/*
er:
- er/**/*
redoc:
- openapi/**/*
