Repository dsrice/bs_api, changes with the labels that .github/labeler.yml gives for each.
All labels: api, er, redoc

.github/labeler.yml:

api:
- api/**/*
er:
- er/**/*
redoc:
- openapi/**/*

update: 権限関連のテーブル追加
  er/er.drawio
Labels: er

add: ユーザ一覧、ユーザ取得APIのドキュメント作成
  openapi/src/components/requestBodies/requestBody.yaml
  openapi/src/components/requestBodies/user_get.yaml
  openapi/src/components/schemas/schema.yaml
  openapi/src/components/schemas/user.yaml
  openapi/src/components/schemas/user_detail.yaml
  openapi/src/paths/path.yaml
  openapi/src/paths/user/get/user_detail_get.yaml
  openapi/src/paths/user/get/user_detail_get_200.yaml
  openapi/src/paths/user/get/user_get.yaml
  openapi/src/paths/user/get/user_get_200.yaml
  openapi/src/paths/user/user.yaml
  openapi/src/paths/user/user_detail.yaml
Labels: redoc

add: ユーザ登録APIのドキュメント追加
  openapi/src/components/requestBodies/requestBody.yaml
  openapi/src/components/requestBodies/user_post.yaml
  openapi/src/components/schemas/schema.yaml
  openapi/src/components/schemas/user_post.yaml
  openapi/src/paths/user/get/user_detail_get.yaml
  openapi/src/paths/user/post/user_post.yaml
  openapi/src/paths/user/post/user_post_200.yaml
  openapi/src/paths/user/user_detail.yaml
Labels: redoc

add: ユーザ削除を追加
  openapi/src/components/schemas/delete.yaml
  openapi/src/components/schemas/schema.yaml
  openapi/src/components/schemas/user.yaml
  openapi/src/components/schemas/user_post.yaml
  openapi/src/paths/user/delete/user_delete.yaml
  openapi/src/paths/user/delete/user_delete_200.yaml
  openapi/src/paths/user/patch/user_patch.yaml
  openapi/src/paths/user/patch/user_patch_200.yaml
  openapi/src/paths/user/user.yaml
  openapi/src/paths/user/user_detail.yaml
Labels: redoc

update: ドキュメント上なので大文字からに変更
  openapi/src/paths/user/delete/user_delete.yaml
  openapi/src/paths/user/get/user_detail_get.yaml
  openapi/src/paths/user/patch/user_patch.yaml
Labels: redoc

update: user.login_idにユニーク制約追加
  app/infra/database/migrations/000001_create_users.up.sql
Labels: none

add: UserRepositoryにユーザ登録処理を追加
  Dockerfile
  app/entities/user.go
  app/repositories/ri/UserRepository.go
  app/repositories/rmock/userRepositoryMock.go
  app/repositories/userRepositoryImp.go
  app/repositories/userRepositoryImp_test.go
Labels: none

add: UserUsecaseを追加
  app/usecases/ui/UserUsecase.go
  app/usecases/ui/inUsecase.go
  app/usecases/umock/UserUsecaseMock.go
  app/usecases/userUsecaseImp.go
  app/usecases/userUsecaseImp_test.go
Labels: none

add: UserControllerを追加
  app/controllers/ci/UserController.go
  app/controllers/ci/inController.go
  app/controllers/userControllerImp.go
  app/controllers/userControllerImp_test.go
Labels: none

add: ユーザ登録用のリクエストパラメータを追加
  app/controllers/rqp/user.go
  app/controllers/userControllerImp.go
Labels: none

add: ユーザ登録時のバリデーション追加
  app/infra/errormessage/error.go
  app/infra/errormessage/error.xml
  app/repositories/userRepositoryImp.go
  app/usecases/loginUsecaseImp.go
  app/usecases/ui/UserUsecase.go
  app/usecases/umock/UserUsecaseMock.go
  app/usecases/userUsecaseImp.go
Labels: none

fix: ユーザ確認周りの取りまわし変更
  app/controllers/loginController.go
Labels: none

fix: Validate周りを見直し
  app/controllers/loginController_test.go
  app/controllers/userControllerImp.go
  app/di/controller.go
  app/di/usecase.go
  app/infra/server/routing.go
  app/infra/server/server.go
  app/usecases/ui/UserUsecase.go
  app/usecases/umock/UserUsecaseMock.go
  app/usecases/userUsecaseImp.go
Labels: none

fix: テストコード見直し
  app/controllers/loginController_test.go
  app/controllers/rsp/user.go
  app/controllers/userControllerImp.go
  app/controllers/userControllerImp_test.go
  app/entities/user.go
  app/infra/database/migrations/000001_create_users.up.sql
  app/infra/database/migrations/000002_create_tokens_table.up.sql
  app/repositories/userRepositoryImp_test.go
  app/usecases/umock/UserUsecaseMock.go
Labels: none

add: ユーザ登録のコントローラーのテストコードを追加
  app/controllers/userControllerImp_test.go
Labels: none

fix: debugコード削除
  app/repositories/userRepositoryImp_test.go
Labels: none

change: user取得処理を汎用的に見直し
  app/repositories/ri/UserRepository.go
  app/repositories/rmock/userRepositoryMock.go
  app/repositories/userRepositoryImp.go
  app/repositories/userRepositoryImp_test.go
Labels: none

update: usecaseの処理を見直し
  app/entities/user.go
  app/usecases/loginUsecaseImp.go
  app/usecases/loginUsecaseImp_test.go
  app/usecases/userUsecaseImp.go
  app/usecases/userUsecaseImp_test.go
Labels: none

update: entitiesの直置きはファイルだらけになる恐れがあったのでドメインで区切ることにした
  app/entities/token.go
  app/entities/user/user.go
  app/entities/user/user_search.go
Labels: none

update: entitiesの構成見直しに伴う修正
  app/controllers/loginController_test.go
  app/controllers/rqp/user.go
  app/controllers/rsp/login.go
  app/controllers/rsp/user.go
  app/controllers/userControllerImp_test.go
  app/entities/token/token.go
  app/repositories/ri/TokenRepository.go
  app/repositories/ri/UserRepository.go
  app/repositories/rmock/tokenRepositoryMock.go
  app/repositories/rmock/userRepositoryMock.go
  app/repositories/tokenRepositoryImp.go
  app/repositories/tokenRepositoryImp_test.go
  app/repositories/userRepositoryImp.go
  app/repositories/userRepositoryImp_test.go
  app/usecases/loginUsecaseImp.go
  app/usecases/loginUsecaseImp_test.go
  app/usecases/ui/UserUsecase.go
  app/usecases/ui/loginUsecase.go
  app/usecases/umock/UserUsecaseMock.go
  app/usecases/umock/loginUsecaseMock.go
  app/usecases/userUsecaseImp.go
  app/usecases/userUsecaseImp_test.go
Labels: none

add: ユーザ一覧取得APIを追加
  app/controllers/ci/UserController.go
  app/controllers/rqp/user.go
  app/controllers/rsp/user.go
  app/controllers/userControllerImp.go
  app/infra/server/routing.go
  openapi/src/components/schemas/user.yaml
Labels: redoc

add: ユーザ一覧のテストコードを追加
  app/controllers/userControllerImp_test.go
  app/usecases/loginUsecaseImp_test.go
  app/usecases/userUsecaseImp_test.go
Labels: none

add: ホットリロードのためにairを採用
  .gitignore
  Dockerfile
  app/.air.toml
  app/go.mod
  app/go.sum
  app/infra/server/server.go
Labels: none

update: トークンの認証関連を見直し
  Dockerfile
  app/.air.toml
  app/controllers/userControllerImp.go
  app/go.mod
  app/go.sum
  app/infra/server/server.go
  app/infra/server/session.go
  app/post_cmd.txt
  app/pre_cmd.txt
  app/repositories/ri/TokenRepository.go
  app/repositories/rmock/tokenRepositoryMock.go
  app/repositories/tokenRepositoryImp.go
  app/repositories/tokenRepositoryImp_test.go
  app/usecases/userUsecaseImp.go
Labels: none

update: ログイン時はトークン認証を不要に設定
  app/infra/server/server.go
Labels: none

update: デバックコードの削除とセッションの生存期間の見直し
  app/controllers/userControllerImp.go
  app/infra/server/server.go
  app/infra/server/session.go
Labels: none

add: テストコードの共通処理関連のフォルダを作成
  app/tester/tester.go
Labels: none

change: コンテキスト情報の持ち回り見直し
  app/controllers/loginController.go
  app/controllers/userControllerImp.go
  app/infra/server/server.go
  app/repositories/ri/TokenRepository.go
  app/repositories/ri/UserRepository.go
  app/repositories/rmock/tokenRepositoryMock.go
  app/repositories/rmock/userRepositoryMock.go
  app/repositories/tokenRepositoryImp.go
  app/repositories/userRepositoryImp.go
  app/usecases/loginUsecaseImp.go
  app/usecases/ui/UserUsecase.go
  app/usecases/ui/loginUsecase.go
  app/usecases/umock/UserUsecaseMock.go
  app/usecases/umock/loginUsecaseMock.go
  app/usecases/userUsecaseImp.go
Labels: none

update: 取りまわし修正に伴うテストコードの見直し
  app/controllers/loginController_test.go
  app/controllers/userControllerImp_test.go
  app/repositories/tokenRepositoryImp_test.go
  app/repositories/userRepositoryImp_test.go
  app/tester/tester.go
  app/usecases/loginUsecaseImp_test.go
  app/usecases/userUsecaseImp_test.go
Labels: none

add: delve設定を追加
  Dockerfile
  app/.air.toml
  app/repositories/tokenRepositoryImp_test.go
  docker-compose.yml
Labels: none
